

.App {
  text-align: center;
}

li{
  list-style:none;
}

a{
  text-decoration: none;
  color:#333;
}

header{
  width:100%;
  height:auto !important;
  position:fixed;
  top:0;
  left:0;
  z-index:100;
  font-family : "Spoqa Han Sans Neo", "sans-serif";
  word-break: keep-all;
  font-weight: 600;
}

.head{
  width:100%;
  height:70px;
  display:flex;
  justify-items: center;
  margin : 0 50px;
  justify-content: space-between;
  backdrop-filter : blur(40px);
}

.logo{
  width:100px;
  height:auto !important;
  background-image : url('../public/img/kko_logo\(fin\).png');
  background-size : contain;
  background-repeat : no-repeat;
  background-position: 0 20px;
}
.logo a{
  display:block;
  height:60px;
}

.top_nav{
  display:flex;
  margin-right: 50px;  
  align-items: center;
}
.top_nav a{
  margin-right: 50px;
}
.top_nav a:hover{
  font-weight:900;
  border-bottom:1px solid #000;
}
.service{
  margin-right: 50px;
  cursor:pointer;
}
.service:hover{
  font-weight:900;
  border-bottom:1px solid #000;
}
.service_nav{
  position:fixed;
  height:80px;
  top:60px;
  left:0;
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
  display:none;
}
.service_nav a{
  margin : 0 20px 0 20px;
  border-bottom: 1px solid #fff;
}
.service_nav a:hover{
  border-bottom:1px solid #000;
}
.open{
  display:flex;
}
/*body*/
.inner{
  width:100%;
  justify-content: flex-end;
  display:flex;
  align-items: center;
  flex-wrap : nowrap;
  margin:auto;
}
.visual{
  flex-basis: 100%;
  display:flex;
  justify-content: flex-end;
}
.visual img{
  width:440px;
  height: 440px;
  margin : 200px 100px 0 0;
}
.text{
  font-size:60px;
  line-height:80px;
  font-weight:bold;
  position:absolute;
  top:30%;
  left:100px;
}
.text h4{
  white-space: pre-line;
}
.text i{
  border : 4px solid rgb(255, 242, 0);
  margin-left : 5px;
}
.container{
  width : calc(100% - 100px)!important;
  margin:15% auto;
  display:flex;
  justify-content: flex-start;
  align-items: center;
}
.img-box{
  display:block;
  margin: auto;
  flex-grow:1;

}
.img-box img{
  width:610px;
  height: 343px;
  border-radius:30px;
}
.textBox{
  flex-grow:1;
  word-break:keep-all;
  padding-left:93px;
  font-family:"Spoqa Han Sans Neo", "sans-serif";
}
.textBox h3{
  font-size:40px;
  font-weight:bold;
}
.textBox p{
  font-size:16px;
  line-height:30px;
  font-weight:550;
}
.service-zone{
  width:100%;
  margin:15% auto;

}
.title-box{
  padding:5%;
  
}
.title-box p{
  font-size:25px;
  font-weight:bold;

}
.title-box h3{
  font-size:50px;
  font-weight:bold;
  margin-top:30px;
}
