

.App {
  text-align: center;
}

li{
  list-style:none;
}

a{
  text-decoration: none;
  color:#333;
}

header{
  width:100%;
  height:auto !important;
  position:fixed;
  top:0;
  left:0;
  z-index:100;
  font-family : "Spoqa Han Sans Neo", "sans-serif";
  word-break: keep-all;
  font-weight: 600;
}
body{
  background :#fff;
  transition: all .5s;
}

.bg-grey{
  background :#f5f6f9;
}

.bg-black{
  background:#000;
}

.dark-tem *{
 color:#fff;
}

.head{
  width:100%;
  height:70px;
  display:flex;
  justify-items: center;
  justify-content: space-between;
  backdrop-filter : blur(40px);
  transition:all .5s;
}

.logo{
  width:100px;
  height:auto !important;
  transition:all .5s;
}
.logo a{
  width:150px;
  display:block;
  height:60px;
  margin-left:50px;
  background-image : url('../public/img/kko_logo\(fin\).png');
  background-size : contain;
  background-repeat : no-repeat;
  background-position: 0px 20px;

}
.logo-dark a{
  background-image:url('../public/img/kko_logo\(darktem\).png')
}

.top_nav{
  display:flex;
  margin-right: 50px;  
  align-items: center;
}
.top_nav a{
  margin-right: 50px;
}
.top_nav a:hover{
  font-weight:900;
  border-bottom:1px solid #000;
}
.service{
  margin-right: 50px;
  cursor:pointer;
}
.service:hover{
  font-weight:900;
  border-bottom:1px solid #000;
}
.service_nav{
  position:fixed;
  height:80px;
  top:60px;
  left:0;
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
  display:none;
}
.service_nav a{
  margin : 0 20px 0 20px;
  border-bottom: 1px solid #fff;
}
.service_nav a:hover{
  border-bottom:1px solid #000;
}
.open{
  display:flex;
}
/*body*/
.inner{
  width:100%;
  justify-content: flex-end;
  display:flex;
  align-items: center;
  flex-wrap : nowrap;
  margin:auto;
  
}
.visual{
  flex-basis: 100%;
  display:flex;
  justify-content: flex-end;
}
.visual img{
  width:440px;
  height: 440px;
  margin : 200px 100px 0 0;
}
.text{
  font-size:60px;
  line-height:80px;
  font-weight:bold;
  position:absolute;
  top:30%;
  left:100px;
}
.text h4{
  white-space: pre-line;
}
.text i{
  border : 4px solid rgb(255, 242, 0);
  margin-left : 5px;
}
.container{
  width : calc(100% - 100px)!important;
  margin:15% auto;
  display:flex;
  justify-content: flex-start;
  align-items: center;
}
.img-box{
  display:block;
  margin: auto;
  flex-grow:1;

}
.img-box img{
  width:610px;
  height: 343px;
  border-radius:30px;
}
.textBox{
  flex-grow:1;
  word-break:keep-all;
  padding-left:93px;
  font-family:"Spoqa Han Sans Neo", "sans-serif";
}
.textBox h3{
  font-size:40px;
  font-weight:bold;
}
.textBox p{
  font-size:16px;
  line-height:30px;
  font-weight:550;
}
.service-zone{
  width:100%;
  margin:15% auto 0;
  display:flex;

}
.title-box{
  padding:5% 5% 0 5%;
  position: relative;
}
.title-box p{
  font-size:25px;
  font-weight:bold;

}
.title-box h3{
  font-size:50px;
  font-weight:bold;
  margin-top:30px;
}
.scroll-section{
  height:2500px;
}
.scroll-area{
  overflow-x:scroll;
  width:100%;
  height:600px;
  position:sticky;
  top:150px;
}
.scroll-area::-webkit-scrollbar{
  display:none;
}
.scroll-ani{
  margin-left:0px;
  display:flex;
  justify-content: flex-start;
  align-items: flex-start;
  transition: all .5s;
}
.business{
  margin-right:14px;
  width:380px !important;
  height:476px !important;
  border-radius:30px;
  background :#fff;
  flex-shrink: 0;
  padding : 30px 24px 0;
  cursor: pointer;
  position:relative;
}
.business h4{
  font-size: 32px;
  line-height:60px;
  font-weight:bold;
  margin-bottom:16px;
  color:#000;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}
.business p{
  font-size:15.5px;
  font-weight: normal;
  line-height:26px;
  white-space: normal;
  color:#555;
  margin-bottom:20px;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  
}
.arrow{
  width:40px;
  height:40px;
  position:relative;
  border:2px solid #000;
  border-radius : 50%;
  overflow:hidden;
}
.arrow i{
  display:block;
  width:20px;
  border : 0.5px solid #000;
  border-radius: 30px;
  position:absolute;
  top:20px;
  left:20px;
  transform:translate(-50%,-50%);
  transition:all .5s;
}
.arrow i:first-child{
  transform:rotate(45deg) translate(-50%,-50%);
  width:7px;
  top:20px;
  left:26px;
}
.arrow i:last-child{
  transform:rotate(-45deg) translate(-50%,-50%);
  width:7px;
  top:20px;
  left:27px;
  background:#000;
}
.business:hover .arrow i{
  transform:translate(-50%,-50%) scale(0.7);
  margin-left: 60px;
}
.business:hover .arrow i:first-child{
  transform:rotate(45deg) translate(-50%,-50%) scale(0.7);
  top:21px;
  left:25px;
}
.business:hover .arrow i:last-child{
  transform :rotate(-45deg) translate(-50%,-50%) scale(0.7);
  top:19px;
  left:26px;
}
.business-img{
  width:211px;
  height:211px;
  position:absolute;
  bottom:5px;
  right:10px;
}

.support{
  width:150px;
  height: 150px;
  border-radius: 50%;
  background :#fff;
  position: absolute;
  top:35%;
  right:5%;
  text-align: center;
  cursor:pointer;
}
.support p{
  color:#000;
  font-size:16px;
  position:absolute;
  top:50%;
  left:50%;
  transform : translate(-50%,-50%);
  margin:0;
  cursor:pointer;
}
.interview{
  width: 100%;
  height:100%;
  padding-top : 3%;
  overflow-x:scroll;

}
.interview::-webkit-scrollbar{
  display:none;
}
.interview-inner{
  display:flex;
  justify-content: flex-start;
}

.interview-link{
  width:90%;
  height:497px;
  background:#4a4647;
  border-radius :30px;
  overflow:hidden;
  flex-shrink: 0;
  margin:0 5%;
  display:flex;
}
.interview-img{
  width:50%;
  height:100%;
  background-size:60%;
  background-repeat: no-repeat;
  background-position : center bottom;
}
.interview-post{
  width:50%;
  height:100%;
  background :#1d1d1f;
  text-align : center;
  position:relative;
}
.interview-post h4{
  font-size:30px;
  padding-top:5%;
}
.interview-post p{
  font-size:16px;
  line-height:30px;
  word-break: keep-all;
}
.interview-name{
  position:absolute;
  bottom : 3%;
  left: 10%;
}
.pagement{
  margin-top:3%;
  display : flex;
  width:100%;
  justify-content: center;
}